<ion-header-bar align-title="center" class="bar-positive">
  <h1 class="title">分类</h1>
</ion-header-bar>
<ion-view>
  <ion-content class="classification-left-ioncontent" >
  <!-- 左边列表 -->
  <div class="list classification-left">
        <a class="item  item-avatar" href="#" ng-click="showBlackTea()">
          <img src="http://www.runoob.com/try/demo_source/venkman.jpg"/>
        	  <div class="classification-left-title">黑茶</div>
        </a>
        <a class="item item-avatar" href="#">
          <img src="http://www.runoob.com/try/demo_source/venkman.jpg"/>
        	 <div class="classification-left-title"> 绿茶</div>
        </a>
        <a class="item item-avatar" href="#">
         <img src="http://www.runoob.com/try/demo_source/venkman.jpg"/>
        	  <div class="classification-left-title">红茶</div>
        </a>
        <a class="item item-avatar" href="#">
          <img src="http://www.runoob.com/try/demo_source/venkman.jpg"/>
        	 <div class="classification-left-title"> 花茶</div>
        </a>
        <a class="item item-avatar" href="#">
          <img src="http://www.runoob.com/try/demo_source/venkman.jpg"/>
        	  <div class="classification-left-title">实惠</div>
        </a>
        <a class="item item-avatar" href="#">
          <img src="http://www.runoob.com/try/demo_source/venkman.jpg"/>
        	 <div class="classification-left-title"> 精品</div>
        </a>
        <a class="item item-avatar" href="#">
          <img src="http://www.runoob.com/try/demo_source/venkman.jpg"/>
        	 <div class="classification-left-title"> 其他</div>
        </a>
   </div>
  <!-- end左边列表 -->
  <!--右边列表 -->
  <!--end右边列表 -->
  </ion-content>
  <ion-modal-view class="classification-right">
        <ion-content class="padding">
       <div class="classification-right-div">
        <a class="item item-body" href="#">
          <img class="full-image" src="http://wd.geilicdn.com/vshop333816149-1457337325594-5905666.jpg?w=400&h=400&cp=1">
          <p>  安化黑茶</p>
        </a>
        
   		 <a class="item item-body">
    	   <img class="full-image" src="http://wd.geilicdn.com/vshop333816149-1457337325594-5905666.jpg?w=400&h=400&cp=1">
   		  <p>怀化黑茶</p>
         </a>
   		 <a class="item item-body">
    	   <img class="full-image" src="http://wd.geilicdn.com/vshop333816149-1457337325594-5905666.jpg?w=400&h=400&cp=1">
   		  <p>长沙黑茶</p>
         </a>
   		 <a class="item item-body">
    	   <img class="full-image" src="http://wd.geilicdn.com/vshop333816149-1457337325594-5905666.jpg?w=400&h=400&cp=1">
   		  <p>常德黑茶</p>
         </a>
   		 <a class="item item-body">
    	   <img class="full-image" src="http://wd.geilicdn.com/vshop333816149-1457337325594-5905666.jpg?w=400&h=400&cp=1">
   		  <p>益阳黑茶</p>
         </a>
   		 <a class="item item-body">
    	   <img class="full-image" src="http://wd.geilicdn.com/vshop333816149-1457337325594-5905666.jpg?w=400&h=400&cp=1">
   		  <p>娄底黑茶</p>
         </a>
   		 <a class="item item-body">
    	   <img class="full-image" src="http://wd.geilicdn.com/vshop333816149-1457337325594-5905666.jpg?w=400&h=400&cp=1">
   		  <p>邵阳黑茶</p>
         </a>
      </div>
        </ion-content>
      </ion-modal-view>
</ion-view>
