
/*
**rest
*/
a{
	color:black;
}
a:hover,a:active{
text-decoration: none;
color:red !important;
}
p{
	text-indent: 2rem;
	white-space:normal !important;
	font-size: 12px;
	color:#000;
}
span{
	color: #999;
}
/*
**input file
*/
input[type="file"]{
	opacity:0;
	filter:alpha(opacity=0);
	width:100%;
	height:100%;
}



/*
**底部导航固定
*/
.fixed-footer{
	bottom:0;
	margin:0px;
	position: fixed;
	 width:100%;
	text-align:center;
	/* border: 1px solid red; */
	background-color: #E8E4E4;
}
.fixed-footer a{
	display:inline-block;
	width:18%;
	text-align:center;
	color:white;
	/* border: 1px solid red; */
}
.fixed-footer a i{
	border: 1px solid #E8E4E4; 
	font-size:18px !important;
	
}
.fixed-footer a div{
	color: #999;
	font-size:12px !important;
}
.fixed-footer a:hover,.fixed-footer a:active{
	color:red !important;
}
.fixed-footer a div:hover,.fixed-footer a div:active{
	color:red !important;
}
/**
**设置红色active-a
*/
.active-a
{
	color:red !important;
}


/*
**顶部搜索
*/
.header-banner{
	font-size:18px;
	width:100%;
	text-align: center;
	background-color: #E8E4E4;
}
.header-banner-left{
	display:inline-block;
	line-height: 40px;
	width:25%;
	color:green;
	font-weight: bold;
}
.header-banner-center{
	display:inline-block;
	padding-left: 2px;
	width:50%;
}
.header-banner-icon{
	display:inline-block !important;
	margin-top:1px;	
	line-height: 28px;
	width:20%;
	height:30px;
	border:1px solid #999;
	border-right:0px solid #999;
	border-radius:15px 0 0 15px;
	font-size:1.5rem;
}
.header-banner-center input{
	margin-top:1px;	
	display:inline-block;
	line-height: 28px;
	height:30px;
	width:80%;
	border:1px solid #999;
	border-radius:0 15px 15px 0;
	margin-left:-5px;
}
.header-banner-right{
	display:inline-block;
	width:18%;
	border-radius:15px;
	font-size:2rem;
	padding:0;
	
}
/*
**购物轮播图
*/
 .carouselIMG{
 width:100%;
 height:100px !important;
 }
/*
**购物九宫格
*/ 
  .home3{
  color: #666;
  
  } 
  .home3 div{
  width:32%;
  text-align:center;
  display: inline-block !important;
  }
 .home3 i{
 display: inline-block;
 height:30px;
 width:30px;
 border:0px solid red;
 border-radius:15px;
 background-color: red;
 color: white;
 font-size: 20px;
 line-height: 30px;
 margin:10px 20px;;
 }
 /*
**热门推荐虚线
*/
.rmtjxx{
	margin-top:20px !important;
	
}
.rmtjxx-c{
	text-align: center;
	color:#666;
	font-weight: bold;
	font-size: 16px;
}

/*
**热门推荐主体商品
*/
.rmtjsp{
	margin-bottom:50px !important;
	text-align: center;
}
.list-card{
	width:45%;
	display: inline-block;
	margin:1%;
	padding:1%;
}
.goods-title{
	font-size: 14px;
	text-align: justify;
	color:#000;
}
.goods-price{
	text-decoration: line-through;
}
.goods-relprice{
	color:red !important;
	font-weight: bold;
}



/*
*分类
*/
.classification-body{
	width:100%;
	background-color: #E8E4E4 !important;
}
.classification-left{
	display:inline-block;
	width:30%;
	 background-color: #E8E4E4 !important; 
	margin-bottom: 0px;
	height: 736px;
	float: left;
	
}
.classification-left a{
	display:block;
	background-color: #E8E4E4;
	border-bottom: 1px solid #ccc !important;
}
.classification-left a:last-child{
	margin-bottom:200px !important;
}
.classification-left a img{
	max-width:30px !important;
	max-height:30px !important;
	width:45%;
	display: inline-block;
	border-radius:15px;
	margin-right:28px !important;
}
.classification-left a div{
	width:45%;
	display: inline-block;
	max-width:30px !important;
	max-height:30px !important;
}
.classification-left-title{
	line-height: 30px;
	margin-left: -20px;
}
.classification-right{
	display:inline-block;
	width:70% !important;
	background-color: #fff; 
	float: right;
	position: fixed;
	height:100%;
	
}
.classification-right-div{
	 padding:3% !important;	
	 margin-bottom:200px !important;
}
.classification-right-div a{
	display:inline-block;
	margin:2% !important;
	height: 100px;
	padding:5% !important;
	border: 0px solid #999;
}

.classification-right-div a img{
	height: 66px;
}
.classification-right-div a p{
	text-indent:0;
	text-align: center;
}



/*
*购物圈
*/
.shoppingCircle-head-body{
	width:100%;
	margin-top:2px;
}
.shoppingCircle-head-slide{
	padding:10px !important;
	overflow:auto;
	width:100%;
	white-space:nowrap;
	font-size:16px;
	border: 1px solid #ccc;
}
.shoppingCircle-head-slide a{
	margin:10px;
	color: #000;
}
.shoppingCircle-head-slide a:hover,.shoppingCircle-head-slide a:active{
	color:red;
}
/*
**购物圈主体
*/
.shoppingCircle-body{
	background-color: #999;
	margin-bottom:100px;
}
.shoppingCircle-body-list{
	background-color: white;
	width: 100%;
	border:1px solid #ccc;
	height: 100%;
	padding:5px;
}
.shoppingCircle-body-list-star{
	height:80px;
	border-bottom: 1px solid #ccc;
}
.shoppingCircle-body-list-star img{
	margin:-3rem 10px 10px 10px;
	display:inline-block;
	height:4rem;
	width:4rem;
	border-radius:2rem;
}
.shoppingCircle-body-list-star div{
	width:70%;
	display:inline-block;
}
.shoppingCircle-body-list-star div h2{
	display:inline-block;
	font-size: 16px;
}
.shoppingCircle-body-list-star div div{
}

.shoppingCircle-body-list-speech{
	padding:10px;
}
.shoppingCircle-body-list-speech img{
	width:100%;
	height:20rem;
}

.shoppingCircle-body-list-interactive{
	border: 1px solid #ccc;
	width: 100%;
	text-align: center;
	padding:5px;
}
.shoppingCircle-body-list-interactive a{
	display: inline-block;
	width: 32%;
	color:#999;
}

.shoppingCircle-body-list-communication{
	margin-top: 10px;
	border-top:1px solid #ccc;
	padding:5px;
}
.shoppingCircle-body-list-communication a{
	width:100%;
	display:inline-block;
	border-bottom: 1px solid #ccc;
}
.shoppingCircle-body-list-communication a img{
	margin:0rem 10px 10px 10px;
	display:inline-block;
	width:3rem;
	border-radius:1.5rem;
}
.shoppingCircle-body-list-communication a div{
	width:70%;
	display:inline-block;
}
.shoppingCircle-body-list-communication a div h2{
	display:inline-block;
	font-size: 10px;
}
.shoppingCircle-body-list-communication a div span{
	display:inline-block;
	font-size: 10px;
}
.more-communication{
	font-size: 12px;
	color:#ccc;
	text-align: center;
}


/*
*购物车
*/
.cat-no-body{
	margin-top:30%;
}
.cat-no-icon{
	font-size:100px;
	margin:3% 35%;
	color:#999;
}
.cat-no-font{
	text-align: center;
	font-size:1.5rem;
}
.cat-no-btn{
	width:100px;
	margin: 3% 35%;
	text-align: center !important;
}
.cat-no-btn:hover{
	color:#ccc !important;
}

/*
**tab-person
*/
.person-home2{
   
  color: #666;
}
.person-home2 i{
 display: inline-block;
 height:30px;
 width:30px;
 border:0px solid red;
 border-radius:15px;
 background-color: red;
 color: white;
 font-size: 22px !important;
 line-height: 30px;
 margin-bottom: 10px;
 }
 /*
**九宫格
*/
 .jiugongge{
  border: 1px solid #ccc;
 }
.jiugongge div{
  text-align:center;
  background-color: #ccc;
 }
.jiugongge div a{
	background-color: #fff;
  text-align: center;
  display: inline-block;
  border: 1px solid #fff;
  border-radius:20%;
  box-shadow:0 0 5px #fff;
margin:1%;
width:30%;
padding:5%;
  color:black;
}
.jiugongge div a i{
  display:block;
 height:3rem;
 width:3rem;
 border:0px solid blue;
 border-radius:1.5rem;
 background-color: blue;
 color: white;
 font-size: 2rem !important;
 line-height: 3rem;
 margin:0px auto;
}
/*
*用户信息
*/
.person-header-body{
	display: block;
	border:1px solid #ccc;
	margin:5px;
}
.person-header-body:hover{
	color:black !important;
	background-color: #ccc;
}
.person-header-body div h2{
	font-size: 1.5rem !important;
}
.person-header-body div span{
	display:inline-block;
	font-size: 1rem !important;
}
.person-header-body div div{
	font-size: 1.5rem !important;
}

.person-middle-body{
	margin:5px;
}
.person-middle-body .item{
	display:inline-block;
	width: 31%;
	color:#ccc;
}
.person-middle-body .item:hover{
	display:inline-block;
	width: 32%;
	color:#ccc;
	background-color: #ccc;
}
.person-middle-body-news{
	color:#00ffff;
}
.person-middle-body-friends{
	color:#9393ff;
}
.person-middle-body-add{
	color:#8080c0;
}

.user-information
{
	display:inline-block;
	text-align: left;
	line-height: 1rem;
	margin-top:0.55rem;
}
.user-information-img
{	
	float: right;
	width:50px;
	height:50px;
	margin-top:-0.25rem;
}
.user-information-info
{	
	color:#ccc;
	float: right;
	margin-top:0.55rem;
	font-size: 1rem;
	
}
.user-information-error
{	
	color:red;
	margin-top:10px;
	font-size: 1rem;
}
.user-information-icon{
	float: right;
	font-size: 1rem;
	color:#ccc;
	margin-top:0.5rem;
}


