<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>首页</title>
	<link rel="stylesheet" href="css/base.css" type="text/css" />
	<link rel="stylesheet" href="css/taoci.css" type="text/css" />

</head>
<body>

	<!-- Header-->
	<div class="shop_hd">

		<div class="shop_hd_topNav">
			<div class="shop_hd_topNav_all">
				<div class="shop_hd_topNav_all_left"><a href="#"><img src="images/0.jpg" /></a></div>
				<div class="shop_hd_topNav_all_right">
					<ul class="topNav_quick_menu">
						<li><a href="gouwu1.dhtml"><img src="images/1.jpg" border="0" /></a></li>
						<li><a href="login.dhtml"><img src="images/2.jpg" border="0" /></a></li>
						<li><a href="reg.dhtml"><img src="images/3.jpg" border="0" /></a></li>
						<li><a href="#"><img src="images/user.jpg" /></a></li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		
		<div class="clear"></div>
		
  <div class="shop_hd_menu">
            <!-- 普通导航菜单 -->
    <ul class="shop_hd_menu_nav">
				<li class="link"><a href="index.dhtml"><img src="images/m1.jpg" border="0" /></a></li>
				<li class="link"><a href="xiangd.dhtml"><img src="images/m2.jpg" border="0" /></a></li>
				<li class="link"><a href="taod.dhtml"><img src="images/m3.jpg" border="0" /></a></li>
				<li class="link"><a href="xiang.dhtml"><img src="images/m4.jpg" border="0" /></a></li>
				<li class="link"><a href="tao.dhtml"><img src="images/m5.jpg" border="0" /></a></li>
    </ul>
			<!-- 普通导航菜单 End -->
   </div>

	</div>
	<div class="clear"></div>
	<!-- Header End -->
	

<!--宽度全屏-->
    <div  class="long2"><a href="#"><img src="images/taoci1.png"  /></a></div>

<!--宽度全屏 END-->
	<div class="shop_hd_breadcrumb">
		<strong>当前位置：</strong>
		<span>
			<a href="">首页</a>&nbsp;›&nbsp;
			<a href="">我的商城</a>&nbsp;›&nbsp;
			<a href="">已买到商品</a>
		</span>
	</div>
	<div class="clear"></div>
<!--陶瓷 List -->
<div  class="go1">
 <div  class="go2">
<!-- 显示菜单 -->
			<div class="sort-bar">
				<div class="bar-l"> 

		            <!-- 排序方式S -->
		            <ul class="array">
		              <li class="selected"><a title="默认排序" onclick="javascript:dropParam(['key','order'],'','array');" class="nobg" href="javascript:void(0)">默认</a></li>
		              <li><a title="点击按销量从高到低排序" onclick="javascript:replaceParam(['key','order'],['sales','desc'],'array');" href="javascript:void(0)">销量</a></li>
		              <li><a title="点击按人气从高到低排序" onclick="javascript:replaceParam(['key','order'],['click','desc'],'array');" href="javascript:void(0)">人气</a></li>
		              <li><a title="点击按信用从高到低排序" onclick="javascript:replaceParam(['key','order'],['credit','desc'],'array');" href="javascript:void(0)">信用</a></li>
		              <li><a title="点击按价格从高到低排序" onclick="javascript:replaceParam(['key','order'],['price','desc'],'array');" href="javascript:void(0)">价格</a></li>
		            </ul>
		            <!-- 排序方式E --> 
		            <!-- 价格段S -->
		            <div class="prices"> <em>¥</em>
		              <input type="text" value="" class="w30">
		              <em>-</em>
		              <input type="text" value="" class="w30">
		              <input type="submit" value="确认" id="search_by_price">
		            </div>
		            <!-- 价格段E --> 
		          </div>
			</div>
			<div class="clear"></div>
			<!-- 显示菜单 End -->
			<!-- 商品列表 -->
		
			<div class="shop_bd_list_content clearfix">
				<ul>
					<li>
						<dl>
							<dt><a href="goods.dhtml"><img src="images/bei1.png" /></a></dt>
							<dd class="title"><a href="">湘绣卷轴软裱花开富贵牡丹办公室摆件</a></dd>
							<dd class="content"><span class="goods_jiage">RMB<em>999</em></span></dd>
							<dd class="buy"><span class="goods_chengjiao"><input type="image" src="images/gouw.gif" /></span></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt><a href="goods.dhtml"><img src="images/bei1.png" /></a></dt>
							<dd class="title"><a href="">湘绣卷轴软裱花开富贵牡丹办公室摆件</a></dd>
							<dd class="content"><span class="goods_jiage">RMB<em>999</em></span></dd>
							<dd class="buy"><span class="goods_chengjiao"><input type="image" src="images/gouw.gif" /></span></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt><a href="goods.dhtml"><img src="images/bei1.png" /></a></dt>
							<dd class="title"><a href="">湘绣卷轴软裱花开富贵牡丹办公室摆件</a></dd>
							<dd class="content"><span class="goods_jiage">RMB<em>999</em></span></dd>
							<dd class="buy"><span class="goods_chengjiao"><input type="image" src="images/gouw.gif" /></span></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt><a href="goods.dhtml"><img src="images/bei1.png" /></a></dt>
							<dd class="title"><a href="">湘绣卷轴软裱花开富贵牡丹办公室摆件</a></dd>
							<dd class="content"><span class="goods_jiage">RMB<em>999</em></span></dd>
							<dd class="buy"><span class="goods_chengjiao"><input type="image" src="images/gouw.gif" /></span></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt><a href="goods.dhtml"><img src="images/bei1.png" /></a></dt>
							<dd class="title"><a href="">湘绣卷轴软裱花开富贵牡丹办公室摆件</a></dd>
							<dd class="content"><span class="goods_jiage">RMB<em>999</em></span></dd>
							<dd class="buy"><span class="goods_chengjiao"><input type="image" src="images/gouw.gif" /></span></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt><a href="goods.dhtml"><img src="images/bei1.png" /></a></dt>
							<dd class="title"><a href="">湘绣卷轴软裱花开富贵牡丹办公室摆件</a></dd>
							<dd class="content"><span class="goods_jiage">RMB<em>999</em></span></dd>
							<dd class="buy"><span class="goods_chengjiao"><input type="image" src="images/gouw.gif" /></span></dd>
						</dl>
					</li>
				</ul>
			</div>
			<div class="clear"></div>
			<div class="pagination"> 
				<ul><li><span>首页</span></li>
					<li><span>上一页</span></li>
					<li><span class="currentpage">1</span></li>
					<li><span>2</span></li>
					<li><span>3</span></li>
					<li><span>4</span></li>
					<li><span>5</span></li>
					<li><span>下一页</span></li>
					<li><span>末页</span></li>
				</ul> 
			</div>
			<!-- 商品列表 End -->
  </div>
</div>
<!--陶瓷 List Body End -->

<!-- Footer -->
<div class="clear"></div>
<div class="foot">
	<div class="faq">
                <dl>
                    <dt>帮助中心</dt>
                    <dd><a href=""><span>积分兑换说明</span></a></dd>
                    <dd><a href=""><span>积分明细</span></a></dd>
                    <dd><a href=""><span>查看已购买商</span></a></dd>
                    <dd><a href=""><span>我要买</span></a></dd>
                    <dd><a href=""><span>忘记密码</span></a></dd>
                </dl>
                
                <dl>
                    <dt>店主之家</dt>
                    <dd><a href=""><span>如何申请开店</span></a></dd>
                    <dd><a href=""><span>商城商品推荐</span></a></dd>
                    <dd><a href=""><span>如何发货</span></a></dd>
                    <dd><a href=""><span>查看已售商品</span></a></dd>
                    <dd><a href=""><span>如何管理店铺</span></a></dd>
                </dl>
                
                <dl>
                    <dt>支付方式</dt>
                    <dd><a href=""><span>公司转账</span></a></dd>
                    <dd><a href=""><span>邮局汇款</span></a></dd>
                    <dd><a href=""><span>分期付款</span></a></dd>
                    <dd><a href=""><span>在线支付</span></a></dd>
                    <dd><a href=""><span>如何注册支付</span></a></dd>
                </dl>
                
                <dl>
                    <dt>售后服务</dt>
                    <dd><a href=""><span>退款申请</span></a></dd>
                    <dd><a href=""><span>返修/退换货</span></a></dd>
                    <dd><a href=""><span>退换货流程</span></a></dd>
                    <dd><a href=""><span>退换货政策</span></a></dd>
                    <dd><a href=""><span>联系卖家</span></a></dd>
                </dl>
                
                <dl>
                    <dt>客服中心</dt>
                    <dd><a href=""><span>修改收货地址</span></a></dd>
                    <dd><a href=""><span>商品发布</span></a></dd>
                    <dd><a href=""><span>会员修改个人</span></a></dd>
                    <dd><a href=""><span>会员修改密码</span></a></dd>
                </dl>
                
                <dl>
                    <dt>关于我们</dt>
                    <dd><a href=""><span>合作及洽谈</span></a></dd>
                    <dd><a href=""><span>招聘英才</span></a></dd>
                    <dd><a href=""><span>联系我们</span></a></dd>
                    <dd><a href=""><span>关于Shop</span></a></dd>
                </dl>
                
                
      </div>
	  <div class="clear"></div>
       <div class="foot_link">
                <p>
                    <a href="">首页</a>|
                    <a href="">招聘英才</a>|
                    <a href="">广告合作</a>|
                    <a href="">关于我们</a>|
                    <a href="">关于我们</a>
               </p>
        </div>
       <div class="foot_copy"><p>Copyright 2015 itcast Inc.,All rights reserved.</p><p style="margin:10px 0;"> <img src="images/shi.png"  /></p></div>
</div>
	<!-- Footer End -->
</body>
</html>