<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>首页</title>
	<link rel="stylesheet" href="css/base.css" type="text/css" />

<script type="text/javascript">
function c(th){
    var inf = document.getElementById('s');
    var fN = '';
    //判断并获取文件名
    if(fN = th.value.match(/[^\\\/]+\.[a-zA-Z0-9]+$/)){
        //如果获取到文件名，则将文件名在后面的span标签中显示出来。
        //这里你可以自行修改要显示的样式等。
        inf.value = fN;
    }else{
        inf.value = "× 获取文件名失";
    }
     
}
</script>
</head>
<body>
	<!-- Header-->
	<div class="shop_hd">

		<div class="shop_hd_topNav">
			<div class="shop_hd_topNav_all">
				<div class="shop_hd_topNav_all_left"><a href="#"><img src="images/0.jpg" /></a></div>
				<div class="shop_hd_topNav_all_right">
					<ul class="topNav_quick_menu">
						<li><a href="gouwu1.dhtml"><img src="images/1.jpg" border="0" /></a></li>
						<li><a href="login.dhtml"><img src="images/2.jpg" border="0" /></a></li>
						<li><a href="reg.dhtml"><img src="images/3.jpg" border="0" /></a></li>
						<li><a href="#"><img src="images/user.jpg" /></a></li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		
		<div class="clear"></div>
		
  <div class="shop_hd_menu">
            <!-- 普通导航菜单 -->
    <ul class="shop_hd_menu_nav">
				<li class="link"><a href="index.dhtml"><img src="images/m1.jpg" border="0" /></a></li>
				<li class="link"><a href="xiangd.dhtml"><img src="images/m2.jpg" border="0" /></a></li>
				<li class="link"><a href="taod.dhtml"><img src="images/m3.jpg" border="0" /></a></li>
				<li class="link"><a href="xiang.dhtml"><img src="images/m4.jpg" border="0" /></a></li>
				<li class="link"><a href="tao.dhtml"><img src="images/m5.jpg" border="0" /></a></li>
    </ul>
			<!-- 普通导航菜单 End -->
   </div>

	</div>
	<div class="clear"></div>
	<!-- Header End -->
	
<div  class="long456">
  <div  class="longer4">	<img src="images/zhuanshu.png" class="tijiaoan" />
  
<form id="msform" enctype="multipart/form-data">
	<fieldset>
	<select name="" id="mySelect" type="text"   >
	  <option >湘绣定制</option>
	  <option >陶瓷定制</option>
	</select>
		<input type="text" name="email" placeholder="姓名" />
		<input type="text" name="pass" placeholder="电话" />
		
		
		<table width="100%" border="0" cellspacing="0">
  <tr>
    <td width="73%"><input type="text"  id="s" name="cpass" placeholder="上传图样" /></td>
    <td><input type="button" name="next" class="next action-button" value="点击上传" onclick="document.getElementById('df').click();"/>
    <input type="file" name="ff" id="df" onChange="c(this)" style="display:none" />
    </td>
    </tr>
</table>

		<textarea cols="" rows="8" placeholder="要求简述" ></textarea>
		<input type="button" name="next" class="next action-button" value="提交订制" />
	</fieldset>
</form>
  
  
  </div>

</div>	





<!-- Footer -->
<div class="clear"></div>
<div class="foot">
	<div class="faq">
                <dl>
                    <dt>帮助中心</dt>
                    <dd><a href=""><span>积分兑换说明</span></a></dd>
                    <dd><a href=""><span>积分明细</span></a></dd>
                    <dd><a href=""><span>查看已购买商</span></a></dd>
                    <dd><a href=""><span>我要买</span></a></dd>
                    <dd><a href=""><span>忘记密码</span></a></dd>
                </dl>
                
                <dl>
                    <dt>店主之家</dt>
                    <dd><a href=""><span>如何申请开店</span></a></dd>
                    <dd><a href=""><span>商城商品推荐</span></a></dd>
                    <dd><a href=""><span>如何发货</span></a></dd>
                    <dd><a href=""><span>查看已售商品</span></a></dd>
                    <dd><a href=""><span>如何管理店铺</span></a></dd>
                </dl>
                
                <dl>
                    <dt>支付方式</dt>
                    <dd><a href=""><span>公司转账</span></a></dd>
                    <dd><a href=""><span>邮局汇款</span></a></dd>
                    <dd><a href=""><span>分期付款</span></a></dd>
                    <dd><a href=""><span>在线支付</span></a></dd>
                    <dd><a href=""><span>如何注册支付</span></a></dd>
                </dl>
                
                <dl>
                    <dt>售后服务</dt>
                    <dd><a href=""><span>退款申请</span></a></dd>
                    <dd><a href=""><span>返修/退换货</span></a></dd>
                    <dd><a href=""><span>退换货流程</span></a></dd>
                    <dd><a href=""><span>退换货政策</span></a></dd>
                    <dd><a href=""><span>联系卖家</span></a></dd>
                </dl>
                
                <dl>
                    <dt>客服中心</dt>
                    <dd><a href=""><span>修改收货地址</span></a></dd>
                    <dd><a href=""><span>商品发布</span></a></dd>
                    <dd><a href=""><span>会员修改个人</span></a></dd>
                    <dd><a href=""><span>会员修改密码</span></a></dd>
                </dl>
                
                <dl>
                    <dt>关于我们</dt>
                    <dd><a href=""><span>合作及洽谈</span></a></dd>
                    <dd><a href=""><span>招聘英才</span></a></dd>
                    <dd><a href=""><span>联系我们</span></a></dd>
                    <dd><a href=""><span>关于Shop</span></a></dd>
                </dl>
                
                
      </div>
	  <div class="clear"></div>
       <div class="foot_link">
                <p>
                    <a href="">首页</a>|
                    <a href="">招聘英才</a>|
                    <a href="">广告合作</a>|
                    <a href="">关于我们</a>|
                    <a href="">关于我们</a>
               </p>
        </div>
       <div class="foot_copy"><p>Copyright 2015 itcast Inc.,All rights reserved.</p><p style="margin:10px 0;"> <img src="images/shi.png"  /></p></div>
</div>
	<!-- Footer End -->
</body>
</html>