<!-- 商品管理 -->
<div class="button-group" id="merBtnGroup">
  <button type="button" class="button  button-3d button-primary" style="width:155px;">上架时间</button>
  <button type="button" class="button button-3d button-primary" style="width:155px;">销量</button>
  <button type="button" class="button button-3d button-primary"  style="width:155px;">库存</button>
  <button type="button" class="button button-3d button-primary" style="width:155px;">已卖完</button>
  <button type="button" class="button button-3d button-primary" style="width:155px;">已下架</button>
 </div>
 <button type="button" class="button button-3d button-caution" style="width:155px;" id="addMerchandiseBtn">+添加商品</button>
<hr/>
	<div class="checkbox-inline">
   <label><input type="checkbox" id="merchandiseCheckboxBoss" >全选</label>
	</div>
	&nbsp;&nbsp;已选中0件商品
	<button type="button" class="button button-3d button-caution button-small " >批量删除</button>
	<button type="button" class="button button-3d button-inverse button-small " >批量下架</button>
<div style="overflow-x:auto;">
<table class="table text-center table-mobile" id="merchandiseList">
 
 <thead>
      <tr>
         <th class="text-center">商品描述</th>
         <th class="text-center">原始价格</th>
         <th class="text-center">折扣</th>
         <th class="text-center">销售价格</th>
         <th class="text-center">邮费</th>
         <th class="text-center">销量</th>
         <th class="text-center">库存</th>
         <th class="text-center">分类</th>
         <th class="text-center">更新时间</th>
         <th class="text-center">操作</th>
      </tr>
   </thead>
   <tbody>
     
   </tbody>
</table>
</div>