<!--首页通知 -->
<div class="container-fuild">
		<div class="seller-notes-title"><span>|</span>公告消息</div>
		<div class="seller-notes-body">
		<div class="seller-notes-body-warp">
			<a class="seller-notes-body-article">我从小就喜欢做手工，现在卖的都是自己做的手工配饰，希望未来能做属于自己的品牌。</a>
			<div class="seller-notes-body-time">2016-04-26 16:02:31</div>
		</div>
		<div class="seller-notes-body-warp">
			<a class="seller-notes-body-article">开店后时间更加自由，陪伴儿子的时间很多，同时让我觉得自己并没有因为怀孕生子而和社会脱节。</a>
			<div class="seller-notes-body-time">2016-04-26 16:02:31</div>
		</div>
		<div class="seller-notes-body-warp">
			<a class="seller-notes-body-article">村里的苹果到季节了，在微店100小时就售出8000份，32000斤，感受到微店的威力，感谢微店！</a>
			<div class="seller-notes-body-time">2016-04-26 16:02:31</div>
		</div>
		<div class="seller-notes-body-warp">
			<a href="#" class="seller-notes-body-article">新店开张？如何管理自己的小店</a>
			<div class="seller-notes-body-time">2016-04-26 16:02:31</div>
		</div>
		</div>
</div>
