<ion-header-bar align-title="center" class="bar-positive">
  <h1 class="title">购物圈</h1>
</ion-header-bar>
<ion-view >

  <ion-content>
     <div class="bar bar-header">
      <a class="tab-item active" href="#">
       全部
      </a>|
      <a class="tab-item" href="#">
        黑茶
      </a>|
      <a class="tab-item" href="#">
        绿茶
      </a>|
      <a class="tab-item" href="#">
        红茶
      </a>|
      <a class="tab-item" href="#">
        花茶
      </a>|
      <a class="tab-item" href="#">
      实惠
      </a>|
      <a class="tab-item" href="#">
      精品
      </a>|
      <a class="tab-item" href="#">
      其他
      </a>
    </div>
    
   <div class="content has-header">

      <div class="list card">

        <div class="item item-avatar">
          <img src="http://www.runoob.com/try/demo_source/mcfly.jpg">
          <h2>李治廷</h2>
          <span> 12小时前</span>
        </div>

        <div class="item item-body">
          <p>
                人生百态，各怀千秋。如果我们不自觉地在很多事情上和别人做对比，会活得很累。人最大的敌人其实是自己，和别人比不如和自己比。不要拿别人的标准来衡量和折磨自己。每个人都有他自己的人生轨迹，努力了就好。
          </p>
          <img class="full-image" src="http://wd.geilicdn.com/vshop333816149-1457337325594-5905666.jpg?w=400&h=400&cp=1">
          <p>
             <a href="#" class="subdued">1 喜欢</a>
             <a href="#" class="subdued">5 评论</a>
          </p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-thumbsup"></i>
            喜欢
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            评论
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            分享
          </a>
        </div>
		  <div class="item item-divider">
          最新评论
        </div>
        
        
        <div class="item">
          <a class="item item-avatar" href="#">
          <img src="http://www.runoob.com/try/demo_source/venkman.jpg">
          <h2>聂跃 </h2><span class="">2小时前</span>
          <p>还可以，就是差点火候！</p>
        </a>
        <a class="item item-avatar" href="#">
          <img src="http://www.runoob.com/try/demo_source/venkman.jpg">
          <h2>张战三</h2><span> 12小时前</span>
          <p>那些说到心坎的文字！</p>
        </a>
        <a class="item item-avatar" href="#">
          <img src="http://www.runoob.com/try/demo_source/venkman.jpg">
          <h2>王六</h2><span> 12小时前</span>
          <p>世界上最快而又最慢，最长而又最短，最平凡而又最珍贵，最容易忽视而又最令人后悔的就是时间。</p>
        </a>
        </div>
        </div>
        
        
        <div class="list card">
        <div class="item item-avatar ">
          <img src="http://www.runoob.com/try/demo_source/mcfly.jpg">
          <h2>范冰冰</h2>
          <span> 10小时前</span>
        </div>

        <div class="item item-body">
          <p>
                人生百态，各怀千秋。如果我们不自觉地在很多事情上和别人做对比，会活得很累。人最大的敌人其实是自己，和别人比不如和自己比。不要拿别人的标准来衡量和折磨自己。每个人都有他自己的人生轨迹，努力了就好。
          </p>
          <img class="full-image" src="http://wd.geilicdn.com/vshop333816149-1457337325594-5905666.jpg?w=400&h=400&cp=1">
          <p>
             <a href="#" class="subdued">1 喜欢</a>
             <a href="#" class="subdued">5 评论</a>
          </p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-thumbsup"></i>
            喜欢
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            评论
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            分享
          </a>
        </div>
		  <div class="item item-divider">
          最新评论
        </div>
        <div class="item">
          <a class="item item-avatar" href="#">
          <img src="http://www.runoob.com/try/demo_source/venkman.jpg">
          <h2>李三 </h2><span class="">2小时前</span>
          <p>还可以，就是差点火候！</p>
        </a>
        <a class="item item-avatar" href="#">
          <img src="http://www.runoob.com/try/demo_source/venkman.jpg">
          <h2>刘留</h2><span> 12小时前</span>
          <p>那些说到心坎的文字！</p>
        </a>
        <a class="item item-avatar" href="#">
          <img src="http://www.runoob.com/try/demo_source/venkman.jpg">
          <h2>姗姗</h2><span> 12小时前</span>
          <p>世界上最快而又最慢，最长而又最短，最平凡而又最珍贵，最容易忽视而又最令人后悔的就是时间。</p>
        </a>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
