<ion-view>
<!-- 购物header -->
<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button class="button" ng-click="doSomething()">本真茶园</button>
  </div>
  <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="text" placeholder="黑茶">
      </label>
  <button class="button button-clear">
        <i class="icon ion-search"></i>
      </button>
</ion-header-bar>
<!-- end购物header-->
<ion-content >
    <!-- 购物轮播-->
     <div animation="slide-left-right-ios7">
    <ion-slide-box active-slide="myActiveSlide" auto-play="true" does-continue="true">
    <ion-slide>
    <div class="box blue">
    <img class="slideimg" src="http://www.yayao8.com/resources/img/carousel/carousel2.jpg">
    </div>
  </ion-slide>
  <ion-slide>
    <div class="box yellow">
    <img class="slideimg" src="http://www.yayao8.com/resources/img/carousel/carousel1.jpg">
    </div>
  </ion-slide>
  <ion-slide>
    <div class="box pink">
    <img class="slideimg" src="http://www.yayao8.com/resources/img/carousel/carousel3.jpg">
    </div>
  </ion-slide>
  </ion-slide-box>
    </div>
    <!-- end购物轮播-->
    <!-- 购物九宫格-->
    <div class="row text-center home3">
  <div class="col">
  <i class="icon ion-social-yen" style="background-color:maroon;"></i>
        <br/>新人礼包
</div>
  <div class="col">
<i class="icon ion-social-freebsd-devil" style="background-color:orange;" ></i>
         <br/> 物美价廉
</div>
  <div class="col">
<i class="icon ion-earth" style="background-color:purple;"></i>
          <br/>免费专区
</div>
</div>

<div class="row text-center home3">
  <div class="col col-top">
<i class="icon ion-ios-flame"></i>
          <br/>TOP热卖
</div>
  <div class="col col-center">
<i class="icon ion-leaf" style="background-color: green;"></i>
           <br/>茶艺文化
</div>
  <div class="col col-bottom">
<i class="icon ion-android-train" style="background-color:navy; "></i>
          <br/>包邮专区
</div>
  
</div>
    <!-- end购物九宫格-->
    <!-- 购物热门推荐虚线-->
    <div class="row rmtjxx">
    <div class="col"><hr/></div>
    <div class="col rmtjxx-c">热门推荐</div>
    <div class="col"><hr/></div>
    </div>
    <!-- end购物热门推荐虚线-->
    <!-- 购物热门推荐商品-->
    <div class=" rmtjsp">
      <div class="list card" ng-repeat="person in list">
        <a class="item item-thumbnail-left " href="http://weidian.com/item.html?itemID=1759015038&p=-1">
          <img src="http://wd.geilicdn.com/vshop333816149-1457337325594-5905666.jpg?w=400&h=400&cp=1">
          <h3 class="goods-title">【包邮】【送茶刀】湖南安化黑茶 金花茯砖茶 施兆鹏八十大寿寿礼茶 收藏茶1936g</h3>
          <p>原价：<span class="goods-price">¥3980.00</span>
          </p>
          <p>
          <span class="goods-relprice">惊爆价：¥2980.00</span>
        </p>
        </a>
      </div>
       <div class="down-refresh" ng-show="downRefresh">
            <ion-spinner icon="ripple" class="spinner-assertive"></ion-spinner>
          </div>  

    </div>

    </ion-content>
</ion-view>



