<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- 购物 Tab -->
  <ion-tab title="购物" icon-off="ion-android-home" icon-on="ion-android-home" href="#/tab/shopping">
    <ion-nav-view name="tab-shopping"></ion-nav-view>
  </ion-tab>

  <!-- 分类 Tab -->
  <ion-tab title="分类" icon-off="ion-search" icon-on="ion-search"  href="#/tab/classification">
    <ion-nav-view name="tab-classification"></ion-nav-view>
  </ion-tab>

  <!-- 购物圈 Tab -->
  <ion-tab title="购物圈" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/shoppingCircle">
    <ion-nav-view name="tab-shoppingCircle"></ion-nav-view>
  </ion-tab>

   <!-- 购物车 Tab -->
  <ion-tab title="购物车" icon-off="ion-ios-cart" icon-on="ion-ios-cart" href="#/tab/cat">
    <ion-nav-view name="tab-cat"></ion-nav-view>
  </ion-tab>

   <!-- 个人中心 Tab -->
  <ion-tab title="个人中心" icon-off="ion-person" icon-on="ion-person" href="#/tab/person">
   <ion-nav-view name="tab-person"></ion-nav-view>
  </ion-tab>


</ion-tabs>
