
/*
**rest
*/
p{
	text-indent: 2rem;
	white-space:normal !important;
}
span{
	font-size: 10px;
	color: #999;
}
/*
**input file
*/
input[type="file"]{
	opacity:0;
	filter:alpha(opacity=0);
	width:100%;
	height:100%;
}
/*
**底部导航固定
*/
.fixed-footer{
	position: fixed;
}
/*
**顶部导航固定
*/
.fixed-title{
	position: fixed;
}
/*
**购物轮播图
*/
 .slider {
      height: 100%;
    }
    .slider-slide {
      color: #000;
      background-color: #fff;
      text-align: center;

      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
      font-weight: 300;
    }

    .slideimg{
    height: 128px;
    width: 100%;
    } 
/*
**购物九宫格
*/ 
  .home3{
  color: #666;
  }
 .home3 i{
 display: inline-block;
 height:30px;
 width:30px;
 border:0px solid red;
 border-radius:15px;
 background-color: red;
 color: white;
 font-size: 20px;
 line-height: 30px;
 margin-bottom: 10px;
 }
 /*
**热门推荐虚线
*/
.rmtjxx{
	margin-top:20px !important;
	
}
.rmtjxx-c{
	text-align: center;
	color:#666;
	font-weight: bold;
	font-size: 16px;
}

/*
**热门推荐主体商品
*/
.rmtjsp{
	margin-bottom:50px !important;
}
.goods-title{
white-space:normal !important;
}
.goods-price{
	text-decoration: line-through;
}
.goods-relprice{
	color:red !important;
}
/*
**热门推荐主体商品下拉刷新
*/
.down-refresh{
	text-align: center;
	line-height: 33px;
}
/*
**tab-person
*/
.person-home2{
   
  color: #666;
}
.person-home2 i{
 display: inline-block;
 height:30px;
 width:30px;
 border:0px solid red;
 border-radius:15px;
 background-color: red;
 color: white;
 font-size: 22px !important;
 line-height: 30px;
 margin-bottom: 10px;
 }
 /*
**九宫格
*/
 .jiugongge{
  border: 1px solid #ccc;
 }
.jiugongge div{
  text-align:center;
  background-color: #ccc;
 }
.jiugongge div a{
	background-color: #fff;
  text-align: center;
  display: inline-block;
  border: 1px solid #fff;
  border-radius:20%;
  box-shadow:0 0 5px #fff;
margin:1%;
width:30%;
padding:5%;
  color:black;
}
.jiugongge div a i{
  display:block;
 height:3rem;
 width:3rem;
 border:0px solid blue;
 border-radius:1.5rem;
 background-color: blue;
 color: white;
 font-size: 2rem !important;
 line-height: 3rem;
 margin:0px auto;
}
/*
*用户信息
*/
.user-information
{
	display:inline-block;
	text-align: left;
	line-height: 1rem;
	margin-top:0.55rem;
}
.user-information-img
{	
	float: right;
	width:50px;
	height:50px;
	margin-top:-0.25rem;
}
.user-information-info
{	
	color:#ccc;
	float: right;
	margin-top:0.55rem;
	font-size: 1rem;
	
}
.user-information-error
{	
	color:red;
	margin-top:10px;
	font-size: 1rem;
}
.user-information-icon{
	float: right;
	font-size: 1rem;
	color:#ccc;
	margin-top:0.5rem;
}
/*
*购物车
*/
.cat-no-body{
	margin-top:30%;
}
.cat-no-icon{
	font-size:8rem;
	margin:10% 35%;
	color:#999;
}
.cat-no-font{
	text-align: center;
	font-size:0.8rem;
}
.cat-no-btn{
	width:6rem;
	margin: 10% 35%;
}
/*
*分类
*/
.classification-left-ioncontent{
	
	 background-color: #E8E4E4; 
}
.classification-left{
	display:inline-block;
	width:30%;
	background-color: #E8E4E4 !important;
}
.classification-left a{
	background-color: #E8E4E4;
	border: 0px solid #E8E4E4;
}
.classification-left a img{
	max-width:30px !important;
	max-height:30px !important;
}
.classification-left-title{
	line-height: 30px;
	margin-left: -20px;
}
.classification-right{
	display:inline-block;
	margin-left:30%;
	width:70%;
	background-color: #fff; 
}
.classification-right-div{
	 padding:1% !important;
}
.classification-right-div a{
	display:inline-block;
	margin:1% !important;
	height: 166px;
	width:45%;
	border: 0px solid #999;
}

.classification-right-div a img{
	height: 66px;
}
.classification-right-div a p{
	text-indent:0;
	text-align: center;
}

/*
*购物圈
*/
